<div
  class="card-item"
  style="position: relative; margin-top:16px; padding: 16px; -webkit-box-flex: 1; flex-grow:1; border-top: 3px solid rgb(50, 115, 217)"
>
  <h2>Redis Application</h2>
  <p>
    The Redis Application, is a plug-in for Grafana that provides custom panels for
    <a target="_blank" href="https://grafana.com/grafana/plugins/redis-datasource">Redis Data Source</a>.
  </p>
  <p ng-if="!ctrl.configured">
    Click below to <b>Enable</b> the Application and start monitoring your Redis databases today.
  </p>
  <p ng-if="ctrl.configured">Click <b>Update</b> to edit the Application configuration.</p>
</div>
