<div
  class="card-item"
  style="position: relative; margin-top:16px; padding: 16px; -webkit-box-flex: 1; flex-grow:1; border-top: 3px solid rgb(50, 115, 217)"
>
  <h2>Redis Application</h2>
  <p>
    The Redis Application, is a plug-in for Grafana that provides various panels for Redis Data Source and allows to
    build entirely customized dashboards, tuned to your needs.
  </p>
  <p ng-if="!ctrl.configured">
    Click below to <b>Enable</b> and initialize the Application and start monitoring your Redis databases today.
  </p>
  <p ng-if="ctrl.configured">Click <b>Update</b> to edit the Application configuration.</p>
</div>
